@import "../../assets/style/color-palette.scss";
@import "../../assets/style/mixins.scss";

$offset-left: 20px;

.menu {
  &__container{
    @include menu-tabs;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    margin-bottom: 20px;
    padding: 10px 0;

    border-radius: 5px;
    height: auto;
  }
  &__wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    position: relative;

  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 5px 0;
    padding-left: $offset-left;

    list-style: none;
  }
  &__item:hover {
    background-color: $bazis-color;
  }
  &__btn{
    padding: 0;
    margin-left: $offset-left;
    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: all .5s ease;

    font-size: 20px;
  }
  &__btn:hover{
    color: $main-color;
  }
}

.btn__icon {
  padding-left: 10px;
}

/*MEDIA*/
@media (max-width: 768px) {
  .menu__container {
    display: flex;
  }
}