@import "../../assets/style/color-palette.scss";

// HOME SIZE STYLE
.home {
  height: 100%;
  padding-top: var(--header-height);
  &__inner {
    height: 900px;
  }
  & > .container {
    background: no-repeat
      url("../../assets/images/bkg_home_2.webp");
    background-size: 100% auto;
    background-attachment: fixed;
  }
  &-title_white {
    color: $bazis-color;
  }
}

.description {
  text-align: center;
  padding: 75px 0;
}

.block-inner {
  margin: 40px;
  padding-bottom: 20px;
}

.btn_main {
  margin: 0 auto;
  width: 250px;
}



/* MEDIA */
@media only screen  and (max-width: 1366px) {
  // .home {
  //   padding-top: 90px;
  // }
}

// Мобильные устройства (поперечная ориентация, малые экраны):
@media (max-width: 320px) {
    /* Стили для экранов до 320px шириной */
}

// Мобильные устройства (обычные размеры):
@media (max-width: 480px) {
    /* Стили для экранов до 480px шириной */
}

// Большие мобильные устройства и малые планшеты:
@media (max-width: 600px) {
    /* Стили для экранов до 600px шириной */
}

// Планшеты (портретная ориентация):
@media (max-width: 768px) {
    /* Стили для экранов до 768px шириной */
}

// Планшеты (альбомная ориентация) и малые десктопы:
@media (max-width: 992px) {
    /* Стили для экранов до 992px шириной */
}

// Большие планшеты и десктопы:
@media (max-width: 1200px) {
    /* Стили для экранов до 1200px шириной */
}

// Широкоформатные экраны и десктопы:
@media (min-width: 1201px) {
    /* Стили для экранов шире 1200px */
    // .home {
    //   padding-top: 90px;
    // }
}

// Устройства от 480px до 768px:
@media (min-width: 480px) and (max-width: 768px) {
    /* Стили для экранов от 480px до 768px шириной */
}

// Устройства от 768px до 992px:
@media (min-width: 768px) and (max-width: 992px) {
    /* Стили для экранов от 768px до 992px шириной */
}