@import "../../assets/style/color-palette.scss";
@import "../../assets/style/mixins.scss";

.home {
  @include page-container;
  
  & > .container {
    background: no-repeat
      url("../../assets/images/bkg_home_2.webp");
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  &__title_white {
    color: $bazis-color !important;
  }
}

.description {
  text-align: center;
  padding: 75px 0;
}

.block-inner {
  margin: 2rem;
  padding-bottom: 20px;
}

.btn_main {
  margin: 0 auto;
  width: 250px;
}

/* MEDIA */
@media only screen and (max-width: 1366px) {

}

@media (min-width: 768px) and (max-width: 1066px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .home > .container {
    background-size: cover;
    background-position: top;
    padding-bottom: 4rem;
  }

  .description {
    text-align: left;
    padding: 45px 0;
  }

  .btn_main {
    margin-left: 3rem;
    width: 150px;
    padding: 2px;
  }
}
