@import "../../assets/style/color-palette.scss";

// HOME SIZE STYLE
.home {
  height: 100%;
  padding-top: var(--header-height);
  &__inner {
    height: 900px;
  }
  & > .container {
    background: no-repeat
      url("../../assets/images/bkg_home_2.webp");
    background-size: 100% auto;
    background-attachment: fixed;
  }
  &-title_white {
    color: $bazis-color;
  }
}

.description {
  text-align: center;
  padding: 75px 0;
}

.block-inner {
  margin: 40px;
  padding-bottom: 20px;
}

.btn_main {
  margin: 0 auto;
  width: 250px;
}

/* MEDIA */
@media only screen  and (max-width: 1366px) {
  .home {
    padding-top: 90px;
  }
}
