.data {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;

    padding: 0 10px;

  }
  &-item:hover {
    cursor: pointer;
    background-color: rgb(214, 214, 214);
  }
  &-item > p {
    margin: 0;
    padding: 20px 20px;
  }
  &-delete {
    height: 80%;
    cursor: pointer;
  }
}