.data {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;

    padding: 0 10px;
    margin: 5px 0;

  }
  &__item:hover {
    cursor: pointer;
    background-color: rgb(214, 214, 214);
  }
  &__delete {
    height: 80%;
    cursor: pointer;
  }
}