// $main-color: #f4ffa3;
// $contrast-color: #2d5154;
// $bazis-color: #6baa89;

$main-color: #ed9e1f;
$contrast-color: #33332f;
$bazis-color: rgb(250, 205, 137);
$text-color: #523e3e;
$page-bkg-color: #FFF5EE
