.admin-panel {
  &__wrapper {
    padding-top: 200px;
  }
  height: 100%;
  & h1, h2 {
    width: 30%;
    margin: 0 auto;
  }
  & h2 {
    width: 50%;
  }
}

.data-input__container {
  width: 50%;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  align-items: center;
  & label {
    margin: -10px 0;
  }
  & input {
    height: 30px;
    font-size: 20px;
    font-weight: 400;
  }
}

.categories__wrapper {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  align-self:  center;
  justify-items: center;

  padding: 2rem 0;
}
