@import "../../assets/style/color-palette.scss";

header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  // background-color: rgba($color: #f48282, $alpha: 0.5);
  background: url("../../assets/images/background12.png");

  z-index: 10;
}

.nav {
  list-style: none;
  display: block;
  &__wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  &__item {
    display: inline-block;
  }
  &__item::after {
    content: "|";
    display: inline-block;
    color: #606060;
    vertical-align: top;
  }
  &__item:last-child::after {
    content: none;
  }
  &__link {
    text-decoration: none;
    font-family: "Roboto Serif", serif;
    letter-spacing: 2px;
    position: relative;
    font-size: 17px;
    margin: 0 34px 0 30px;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.2s;
  }
  &__link:hover {
    color: $main-color;
  }
  &__link,
  &__link:visited {
    color: #6e6d6e;
  }
  &__link::before,
  &__link::after {
    content: "";
    position: absolute;
    top: auto;
    height: 4px;
    right: 50%;
    left: 50%;
    bottom: -3px;
    background: $main-color;
    transition: 0.8s;
  }
  &__link:hover::before,
  .router-link-exact-active::before {
    left: 0;
  }
  &__link:hover::after,
  .router-link-exact-active::after {
    right: 0;
  }
}

.router-link-active {
  color: $main-color !important;
}

//LOGO STYLES
.logo {
  display: block;
  width: 110px;
  height: 110px;
  background: no-repeat url("../../assets/images/logo_v_2.webp");
  background-size: 100%;
  background-position: 50%;

  border-radius: 50%;

  justify-self: end;

  cursor: pointer;
}

/* MEDIA */
@media only screen and (max-width: 1366px) {
  .logo {
    width: 70px;
    height: 70px;
  }
  .nav {
    &__link {
      font-size: 14px;
    }
  }
}

// Устройства от 768px до 992px:
@media (min-width: 768px) and (max-width: 1066px) {
  .nav__link {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }

  .nav__wrapper {
    grid-template-columns: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
