@import "../../assets/style/color-palette.scss";

.card {
  &-container {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 16px $contrast-color;
    padding: 25px;

    cursor: pointer;
    transition: all linear 0.5s;
  }
  &-container:hover {
    background-color: rgba(5, 33, 26, 0.141);
  }
  &-wrapper {
    display: grid;
    gap: 10px;
    justify-items: start;
  }
  &-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  &-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 500;
    color: $text-color;
    padding: 10px 0;
  }
  &-description {}
}