@import "../../assets/style/color-palette.scss";

.card {
  &-container {
    height: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 16px $contrast-color;
    padding: 25px;

    color: $contrast-color;
    background-color: #fff;
    cursor: pointer;
    transition: all linear 0.5s;
  }
  &-container:hover {
    background-color: rgba(5, 33, 26, 0.141);
  }
  &-wrapper {
    display: grid;
    gap: 10px;
    justify-items: start;
  }
  &-img {
    width: 100%;
    height: 280px;
    border-radius: 5px;
  }
  &-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    color: $main-color;
    padding: 10px 0;
    text-wrap: wrap;
  }
  &-price {
    color: $text-color;
  }
  &-description {
  }
  &-link {
    text-decoration: none;
  }
}

/* MEDIA */
@media only screen and (max-width: 1366px) {
  .card {
    &-img {
      width: 100%;
    }
    &-title {
      font-size: 20px;
    }
  }
}
