@import "../../assets/style/color-palette.scss";

.contacts {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--header-height) 0;
    padding-top: var(--header-height);
    & .subtitle {
      margin-bottom: 30px;
    }
  }
  &__block {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding: 0;
    &::after {
      content: "|";
      padding: 0 20px;
    }
    &:last-child::after {
      content: "";
    }
  }
  & .main-text {
    padding: 5px 0;
  }
}

.email {
  &_block {
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 25px;
    margin: 40px 0;
  }
  &_wrap-item {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 20px;
  }
}

.main-input {
  font-family: "Roboto-Regular";
  font-size: 20px;
  color: $contrast-color;
  width: 100%;
  height: 40px;

  border: 1px solid $text-color;
  border-radius: 5px;
  padding: 0 5px;
}

.comments {
  width: 100%;
  height: 20rem;
  resize: none;
  padding: 10px 4px;
}

.pb-40 {
  padding-bottom: 40px;
}

.btn.btn__contacts {
  width: 140px;
}

/*MEDIA*/
@media (min-width: 768px) and (max-width: 1066px) {
}

@media (max-width: 768px) {
  .contacts {
    &__inner {
      margin-top: 60px;
    }
    &__info {
      text-align: center;
    }
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item::after {
      content: "";
    }
  }

  .email {
    &_block {
      grid-template-columns: none;
      grid-template-rows: 1fr;
      gap: 10px;
      margin-top: 10px;
    }
    &_wrap-item {
      grid-template-rows: 1fr;
      gap: 10px;
    }
  }
}
