.information {
  display: flex;
  justify-content: center;
  text-align: center;

  padding: 100px 0;
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 60%;

    padding: 0 30px;
  }
  &_reverse {
    flex-direction: row-reverse;
  }
  &__photo {
    width: 25%;
    height: 400px;
    border-radius: 10px;
  }
  &__text {
    padding: 40px 0;
  }
}

/* MEDIA */
@media only screen and (max-width: 1366px) {
  .information__photo {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1066px) {
  .information__description {
      flex-basis: 80%
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .information {
    &__description {
      flex-basis: 100%;
      padding: 0 10px;
    }
    &__photo {
      display: none;
    }
  }
}
