.products {
  &__inner {
    padding: 40px 0;
  }
  & > .container {
    text-align: center;
    font-size: 35px;
    padding-top: 150px;
    padding-bottom: 150px;
    background: no-repeat
      url("../../assets/images/marshmellou_zefir_spiralnyj_123683_1920x1080.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    & .subtitle {
      font-size: 35px;
    }
  }
}
