@import "../../assets/style/color-palette.scss";
@import "../../assets/style/mixins.scss";

.tabs {
  &__item {
    @include menu-tabs;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.item_active,
.item_active:hover {
  background: $bazis-color;
  color: $text-color;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* MEDIA */
@media only screen and (max-width: 1366px) {
}

@media (min-width: 768px) and (max-width: 1066px) {
  .tabs__item {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}
