.carousel {
  &__items-container {
    scrollbar-width: none;
    margin: 10px;
    flex-grow: 1;
  }
  &__items-container:nth-child(1){
    width: 100%;
  }
  &__item {
    min-width: 100%;
    transition: all .5s linear;
  }

}
