@import "../../assets/style/mixins.scss";

.admin-panel {
  margin: 0 auto;
  @include page-container;
  width: 80%;

  &__wrapper {
    padding-top: 50px;
  }
  height: 100%;
  & h2 {
    margin: 0 auto;
  }
}

.item {
  &__container {
    margin: 0 auto;
    padding: 0 70px;
    display: grid;
    gap: 30px;
    align-items: center;
    & label {
      margin: -10px 0;
    }
    & input {
      height: 30px;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

// DATA CONTAINER
.data {
  &-wrapper {
    margin: 40px auto;
  }
}

// RADIO BUTTON CONTAINER
.categories {
  &__wrapper {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    align-self: center;
    justify-items: center;

    padding: 2rem 0;
  }
  &__wrapper > label {
    cursor: pointer;
  }
  &__radio:hover {
    cursor: pointer;
  }
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}

.admin-panel__wrapper > .user-counter__counter {
  margin-left: 3rem;
}

/*MEDIA*/
@media (max-width: 992px) {
  .admin-panel {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .admin-panel {
    width: 100%;
  }
  .admin-panel__wrapper > .admin-panel__title {
    margin-left: 3rem;
  }

  .btn-wrapper {
    flex-direction: column;
  }

  .categories__wrapper {
    grid-auto-flow: row;
    justify-items: start;
  }

  .item__container {
    padding: 0 10px;
  }
}
