.admin-panel {
  margin: 0 auto;
  width: 80%;
  padding-top: var(--header-height);

  &__wrapper {
    padding-top: 50px;
  }
  height: 100%;
  & h1,
  h2 {
    margin: 0 auto;
  }
}

// // CAROUSEL
// .carousel {
//   &__wrapper {
//     margin: 3rem 0;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     gap: 20px;
//     align-items: start;
//   }
//   &__inner {
//     flex-grow: 1;
//   }
//   &__item-wrapper {
//     display: none;
//     &_active {
//       display: block;
//     }
//   }
//   &__btn {
//     width: 40px;
//     height: 80px;

//     cursor: pointer;
//   }
// }

.item {
  &__container {
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    gap: 30px;
    align-items: center;
    & label {
      margin: -10px 0;
    }
    & input {
      height: 30px;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

// DATA CONTAINER
.data {
  &-wrapper {
    margin: 40px auto;
  }
}

// RADIO BUTTON CONTAINER
.categories {
  &__wrapper {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    align-self: center;
    justify-items: center;

    padding: 2rem 0;
  }
  &__wrapper > label {
    cursor: pointer;
  }
  &__radio:hover {
    cursor: pointer;
  }
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}
