@import "../../assets/style/color-palette.scss";

$margin-bottom: 30px;

.tabs {
  &__container {
    overflow: hidden;
    width: 100%;
    margin-bottom: $margin-bottom;
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    margin: 0 10rem;
  }
  &__nav {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  &__content {
    margin-bottom: $margin-bottom;
  }
}

.products-wrapper {
  margin: 0 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 6rem 3rem;
  padding-bottom: 10rem;
}

.btn__tabs {
  position: absolute;
  cursor: pointer;

  width: 30px;
  height: 35px;
  right: 0;

  z-index: 2;
  &_left {
    right: -40px;
  }
  &_right {
    right: -70px;
  }
}

/* MEDIA */
@media (min-width: 1600px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1366px) {
  .products-wrapper {
    margin: 0 4rem;
  }

  .tabs__inner {
    margin: 0 9rem;
  }
}

@media (min-width: 768px) and (max-width: 1066px) {
  .tabs__inner {
    margin: 0 9rem;
  }
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .tabs__inner {
    margin: 0 1rem;
  }

  .tabs__inner > .btn__tabs{
    display: none;
  }
  .tabs__nav {
    display: none;
  }
  .products-wrapper {
    margin: 0 1rem;
    grid-template-columns: 1fr;
  }
}
