@import "../../assets/style/color-palette.scss";

.tabs {
  &__container {
  }
  &__inner {
  }
  &__nav {
    padding: 0;
    margin: 0 10rem;

    display: grid;
    align-items: center;
    justify-content: center;
  }

}

.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem 1rem;
}