@import "../../assets/style/color-palette.scss";

.tabs {
  &__inner {
    padding-top: 5em;
  }
  &__nav {
    padding: 0;
    margin: 0 10rem;

    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.tab__content {
  margin: 4rem;
}

.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 6rem 1rem;
}

/* MEDIA */
@media (min-width: 1600px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1066px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .products-wrapper {
    grid-template-columns: 1fr;
  }
}

