.social-container {
  margin: 20px 0;
  & i {
    padding: 0 10px;

    transition: color 0.2s linear;
    &:hover {
      cursor: pointer;
      color: aqua;
    }
  }
}

.social-links {
  color: #3f3737;
}