@import "../../assets/style/color-palette.scss";

$button-offset: 15px;

.advertising {
  &__container {
    display: block;
    gap: 20px;

    background-image: url(../../assets/images/bkg_advertising.jpg);
    margin-bottom: 5px;
    padding: 40px;
    position: relative;
  }

  &__img {
    width: 60%;
    border-radius: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 70px;
    color: $main-color;
  }
  &__description {
    font-size: 30px;
  }
  &__description span {
    padding-top: 30px;
    color: rgb(9, 52, 80);
    font-size: 20px;
  }
}

// CAROUSELL
.carousell {
  &__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 6px;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
    }
    .active {
        opacity: 1;
    }
  }
  &__inner {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__slides {
    height: 100%;
    display: flex;
    transition: all 0.5s linear;

  }
  &__item {
    min-width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  &__btn {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    transition: opacity 0.5s linear;
    &_left{
      left: $button-offset;
    }
    &_right{
      right: $button-offset;
    }
  }
}
