@import "../../assets/style/color-palette.scss";

.product-details {
  &__container {
    min-height: 100dvh;
    padding-top: var(--header-height);
  }
  &__inner {
    margin: 0 auto;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 9rem;
  }
}

.product {
  &__info {
    padding: 1rem 0;
    display: grid;
    grid-auto-rows: auto;
    gap: 15px;
  }
  &__info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__details {
    line-height: 1.5;
    padding: 0;
  }
  &__photo {
    width: 25rem;
    height: auto;
    border-radius: 5px;
  }
  &__price {
    font-size: 3rem;
  }
  &__btn {
    width: 10rem;
  }
}

.product__info .product__title {
  position: relative;
  font-size: 3rem;
  color: $main-color;
}

.product__info .product__title_bottom-line::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  content: "";
  display: inline-block;

  width: 100%;
  border-bottom: 1px solid $contrast-color;
}

.back-ico {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

/* MEDIA */
@media only screen and (min-width: 1580px) {
  .product {
    &__price {
      font-size: 4rem;
    }
    &__inner {
      margin-top: 3rem;
    }
    &-details__inner {
      padding-top: 12rem;
    }
  }
}
