@import "./assets/style/normalize.css";
@import "./assets/style/color-palette.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto Serif", serif;
  font-weight: 300;
  color: $text-color;
}

:root {
  --header-height: 115px;
}

#app {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.pt-115px {
  padding-top: 115px;
}

// MAIN TEXT
.main-text {
  font-weight: 300;
  font-size: 20px;
  color: $text-color;
  line-height: 2;
  padding: 40px 0;
}

// MAIN TITLE STYLE
.main-title {
  font-size: 55px;
  color: $main-color;
  margin: 3rem 0;
}

// SUBTITLE STYLE
.subtitle {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle_bottom-line {
  &::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    content: "";
    display: inline-block;

    width: 150px;
    border-bottom: 1px solid $contrast-color;
  }
}

.additional-title {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: ArchitectsDaughter-Regular;
  font-size: 20px;
  color: $contrast-color;

  border: 1px solid $text-color;
  border-radius: 5px;

  line-height: 2.5;
  text-transform: uppercase;
  background: rgb(212, 211, 211);

  text-decoration: none;

  cursor: pointer;

  &:hover {
    background: #fff;
    color: $main-color;
    transition: all 0.2s linear;
  }
  &:active {
    background: rgb(194, 191, 191);
  }
  &_arrow {
    height: 40px;
    width: 20px;
    font-size: 27px;
    line-height: 0.8;
  }
  &_create {
    width: 200px;
  }
  &_clear {
    background-color: rgb(251, 202, 202);
    padding: 0 2rem;
  }
}

// ADVERTISING SLIDER CONTENT
.advertising {
  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }

  &__img {
    width: 50%;
    border-radius: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 70px;
    color: $main-color;
  }
  &__description {
    font-size: 30px;
  }
  &__note {
    padding-top: 30px;
    color: rgb(9, 52, 80);
    font-size: 20px;
    font-style: italic;
  }
}
