@import "./assets/style/normalize.css";
@import "./assets/style/color-palette.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto Serif", serif;
  font-weight: 300;
}

#app {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.pt-115px {
  padding-top: 115px;
}

// MAIN TEXT
.main-text {
  font-weight: 300;
  font-size: 20px;
  color: $text-color;
  line-height: 2;
  padding: 40px 0;

}

// .main-text {
//   font-size: 20px;
//   letter-spacing: 2px;
//   text-align: center;
// }

// MAIN TITLE STYLE
.main-title {
  font-size: 55px;
  color: $bazis-color;
  margin: 3rem 0;
}

// SUBTITLE STYLE
.subtitle {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  color: $bazis-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle_bottom-line {
  &::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    content: "";
    display: inline-block;

    width: 150px;
    border-bottom: 1px solid $bazis-color;
  }
}

//FOTER
#footer {
  margin-top: 35px;
  padding: 20px 50px;
  background: url("./assets/images/background12.png");
  & .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .footer-title {
    font-family: "Acme-Regular";
    font-size: 15px;
  }
}

.social-container i {
  padding: 0 10px;

  transition: color 0.2s linear;
  &:hover {
    cursor: pointer;
    color: aqua;
  }
}

.social-links {
  color: #3f3737;
}
