.page_404 {
  &_wrapper {
    display: grid;
    height: calc(100vh - 240px);
    padding-top: var(--header-height);
  }
  &_inner {
    height: 100%;
    background: no-repeat center / contain url("../../assets/images/404.jpg");
  }
}