.page_404 {
  &_wrapper {
    display: grid;
    height: calc(100vh - 240px);
    padding-top: calc(var(--header-height) - 10px);
  }
  &_inner {
    height: 100%;
    background: no-repeat center / contain url("../../assets/images/404.jpg");
  }
}